.stat_container {
    animation: 4s ease-out statCircle;
    animation-fill-mode: forwards;
    border: 3px solid transparent;
}

@keyframes statCircle {
    25% {
        border-left-color: green;
    }
    50% {
        border-left-color: green;
        border-bottom-color: green;
    }
    75% {
        border-left-color: green;
        border-bottom-color: green;
        border-top-color: green;
    }
    100% {
        border-color: green;
    }
}